/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
} */

body{
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(#ffffff 60%, #124d10a8 );

}

/* Header */
header{
    height: auto;
    display: flex;
    
}

.logo{
    height: 120px;
    width: 220px;
    margin-left: 50px;
    position: relative;
    right: 600px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.botao{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.botao .linke{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 36px;
    margin-top: 35px;
    position: relative;
    right: 114px;
}
.linke:hover{
    border-top: solid 3px #124d10a8;
}

.botao i{
    color: black;
    position: relative;
    left:540px;
    top: 20px;
    font-size: 50px;
}

.botao i:hover{
    color: #124d10a8;

}


/* Contatos */
main{
    display: flex;
    justify-content: center;

}
.conta{
    border-top: 3px solid  #124d10a8;
    border-bottom: 3px solid  #124d10a8;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: 500px;
    width: 30%;
    
}

.conta #escrever{
    width: 300px;
    
}

.conta h2{
    color: #124d10a8;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conta input{
    border: 3px solid  #124d10a8;
    border-radius: 10px;
}

.conta button{
    justify-content: center;
    text-align: center;
    border: 3px solid  #124d10a8;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.conta button:hover{
    background-color: #124d10a8;
    border-color:#124d10a8;
}

.conta a{
    display: flow-root;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
    color: black;
    padding: 10px;
    border-radius: 15px;
}
.conta a:hover{
    background: #124d10a8;
    color: white;
}